<template>
    <modal @modal-close="$emit('modal-close')">
        <div class="admin__approve">
            <div class="admin__approve__heading">Tambah Mata Pelajaran</div>
            <div class="admin__school__name">{{ schoolName }}</div>
            <div class="admin__confirm__text">Masukkan nama mata pelajaran</div>
            <form :action="addUrl" method="POST">
                <input type="text" class="input text--center width--full" name="name" ref="field">
                <input type="hidden" name="_token" :value="token">
                <div class="flex flex--center mart--30">
                    <button type="submit" class="button"><span>Simpan</span></button>
                </div>
            </form>
        </div>
    </modal>
</template>

<script>
    export default {
        data() {
            return {
                addUrl: addUrl,
                token: document.head.querySelector('meta[name="csrf-token"]').content
            }
        },
        props: {
            schoolName: String
        },
        mounted() {
            this.$refs.field.focus();
        }
    }
</script>
