<template>
    <modal @modal-close="$emit('modal-close')">
        <div class="admin__approve">
            <div class="admin__approve__heading">Ubah Nama Mata Pelajaran</div>
            <div class="admin__school__name">{{ schoolName }}</div>
            <div class="admin__confirm__text text--center">Masukkan nama mata pelajaran yang baru</div>
            <form :action="editUrl" method="POST">
                <input type="text" class="input text--center width--full" name="name" :value="item.name" ref="field">
                <input type="hidden" name="id" :value="item.id">
                <input type="hidden" name="_token" :value="token">
                <input type="hidden" name="_method" value="PATCH">
                <div class="flex flex--center mart--30">
                    <button type="submit" class="button"><span>Simpan</span></button>
                </div>
            </form>
        </div>
    </modal>
</template>

<script>
    export default {
        data() {
            return {
                editUrl: editUrl,
                token: document.head.querySelector('meta[name="csrf-token"]').content
            }
        },
        props: {
            schoolName: String,
            item: {
                type: Object,
                default: {}
            }
        },
        mounted() {
            this.$refs.field.focus();
        }
    }
</script>
