@keyframes spin
    0%
        transform rotate(0deg)
    100%
        transform rotate(360deg)
@keyframes dash
    to
        stroke-dashoffset 0
.hform__row
    position relative
    display flex
    flex-direction column
    margin-bottom 35px
    &--center
        align-items center
    &--error
        .hinput
            border-color #b30000
    &--success
        .hinput
            border-color #07a371
    .hbutton
        margin-top 20px
    .htick
        position absolute
        bottom 11px
        right 0
.hlabel
    font-weight $font-weight-semi-bold
    font-size 13px
    color #0aa3d5
    padding-left 12.5px
    letter-spacing 1.2px
    margin-bottom 5px
    cursor pointer
    text-transform uppercase
.hinput
.htextarea
    border none
    border-bottom 1.5px solid #a186be
    background none
    outline none
    padding 10px 12.5px
    font-weight $font-weight-light
    font-size 13px
    color #565656
    &:disabled
        color #b7b7b7
.hinput
    &--icon
        padding-right 25px
.htextarea
    white-space pre-wrap
    resize none
.hform__dropdown
    z-index 2
    position absolute
    width 135%
    left 50%
    top 66px
    transform translateX(-50%)
    background white
    padding 15px 0
    box-shadow 0 8px 27px rgba(black, .29)
    border-radius 10px
.hform__dropdown__item
    letter-spacing 1.5px
    color #0aa3d5
    font-weight $font-weight-light
    font-size 15px
    padding 10px 45px
    text-transform uppercase
    cursor pointer
    transition background .3s
    &:last-child
        margin-bottom 0
    &:hover
        background #f5f5f5
.hform__dropdown__name
    font-weight $font-weight-medium
    margin-bottom 5px
.hform__dropdown__location
    font-size 10px
.hmodal__footer__button
    text-transform uppercase
    padding 25px 100px
    cursor pointer
    background linear-gradient(337deg, rgba(#bb04b0, .4), rgba(#0aa3d5, .4))
    transition filter .3s
    font-size 16.5px
    font-weight $font-weight-medium
    letter-spacing 2.3px
    color white
    text-align center
    border-bottom-left-radius 10px
    border-bottom-right-radius 10px
    &:hover
        filter brightness(1.2)
.hbutton
    position relative
    padding 12.5px 50px
    background linear-gradient(337deg, rgba(#bb04b0, .4), rgba(#0aa3d5, .4))
    border none
    border-radius 50px
    outline none
    cursor pointer
    text-transform uppercase
    transition transform .3s, box-shadow .3s
    &:hover
        transform translateY(-2.5px)
        box-shadow 0 5px 10px rgba(0,0,0,.2)
    &:before
        content ''
        position absolute
        left 50%
        top 50%
        transform translate(-50%, -50%)
        width 98%
        height 94%
        border-radius 50px
        background white
    span
        position relative
        z-index 1
        font-size 15px
        font-weight $font-weight-bold
        letter-spacing 2.1px
        color #0aa3d5
.hmodal__question
    color #0aa3d5
    text-align center
    margin-bottom -10px
.hform__row__loader
    position absolute
    right 2.5px
    bottom 10px
    border 3px solid #eaeaea
    border-top 3px solid #0aa3d5
    border-radius 50%
    width 20px
    height 20px
    animation spin 1s linear infinite
.hform__message
    text-align center
    color #bb04b0
svg
    fill inherit
    path
        fill inherit
.htick
    fill none
    stroke #07a371
    stroke-dasharray 1000
    stroke-dashoffset 1000
    animation dash .6s linear forwards
    animation-delay .3s
.hcircle
    display block
.hfake__textarea
    width 300px
    padding 10px 12.5px
    color #b7b7b7
    border-bottom 1.5px solid #a186be
    font-weight $font-weight-light
    font-size 13px
