.sadmin__info
    position relative
    padding 0 0 15px 66px
    .button
        flex-shrink 0
        padding 10px 17.5px
.sadmin__info__edit
    margin-left auto
.sadmin__itable__header
.sadmin__itable__data
    display flex
.sadmin__itable__header
    align-items flex-start
    margin-bottom 15px
.sadmin__itable__data
    margin-bottom 12.5px
    &--boxed
        flex-direction column
        align-items center
        padding 28.5px 18px
        margin-right 30px
        margin-bottom 0
        transition background .3s, box-shadow .3s
        &:hover
            background rgba(white, .2)
            box-shadow 0 0 29px 0 rgba(black, .05)
        &:first-child
            margin-left 38px
        .sadmin__itable__text
            color $primary--40
            &:nth-child(2)
                margin-bottom 5px
            &:last-child
                font-size 20px
        .sadmin__itable__icon
            margin-bottom 5px
        .sadmin__itable__text
        .sadmin__itable__icon
            margin-right 0 !important
            width auto !important
.sadmin__itable__icon
    display flex
    align-items center
    width 15px
    fill $third
    margin-right 30px
    flex-shrink 0
    &--padded
        padding 10px 0
.sadmin__itable__text
    display flex
    align-items center
    font-size 14px
    color $third
    max-width 258px
    &:nth-child(2)
        width 110px
        margin-right 55px
        flex-shrink 0
    &:last-child
        width 250px
        margin-right 0
        flex-shrink 0
    .input
        width 100%
    .padb--10
        padding-bottom 11.5px
    label
        display block
.sadmin__separator
    width calc(100% - 38px)
    height 1px
    background $third--40
    margin 15px 0 27.5px auto
    &--longer
        width calc(100% + 24px)
        margin-left -24px
        flex-shrink 0
    &--top
        margin-top 4px
.sadmin__tab__item
    position relative
    width 50%
    height 34px
    display flex
    justify-content center
    align-items center
    flex-shrink 0
    font-size 20px
    border-right 1.5px solid $third--40
    a
        text-align center
        text-decoration none
        color $primary--20
        transition color .3s
        padding 8px 0
        &:hover
            color $third
    &:last-child
        border-right none
    &--active
        a
            color $third
            pointer-events none
        &:after
            content ''
            position absolute
            bottom -16px
            width 40px
            height 8px
            background linear-gradient(120deg, $fourth, $third)
.sadmin__tab
    display flex
    margin 40px 0 60px
    &--3
        .sadmin__tab__item
            width 33.33%
    &--4
        .sadmin__tab__item
            width 25%
.sadmin__update__button
    margin-left 45px
.sadmin__add
    display flex
    align-items center
    padding 30px 30px 0 66px
.sadmin__add__button
    display block
.sadmin__delete
    cursor pointer
    fill $third
.sadmin__table
    th
        &:first-child
            width 80px
        &:nth-child(2)
            width 140px
        &:nth-child(3)
            width 180px
        &:nth-child(4)
            width 130px
        &:nth-child(5)
            width 145px
        &:nth-child(6)
            width 116px
        &:last-child
            position relative
            width 85px
.sadmin__table__teacher
    th
        &:first-child
            width 80px
        &:nth-child(2)
            width 190px
        &:nth-child(3)
            width 130px
        &:nth-child(4)
            width 130px
        &:nth-child(5)
            width 145px
        &:nth-child(6)
            width 116px
        &:last-child
            position relative
            width 85px
.sadmin__table
.sadmin__table__teacher
    td
        &:last-child
            overflow visible
    tr
        cursor pointer
        &.active
            background rgba(white, .5)
            box-shadow 0 0 29px 0 rgba(black, .1)
            .admin__collapse__arrow
                transform translateY(-50%) rotate(90deg)
.sadmin__invite__table
    th
        &:first-child
            width 190px
        &:nth-child(2)
            width 200px
        &:last-child
            width 70px
.sadmin__option
    cursor pointer
    fill #565656
    margin-bottom -5px
.sadmin__options
    z-index 1
    position absolute
    top 70%
    right 15px
    display flex
    flex-direction column
    padding 5px 0
    background $primary
    border-radius 10px
    box-shadow 0 8px 35px 0 rgba(black, 0.35)
.sadmin__option__item
    display flex
    align-items center
    cursor pointer
    padding 10px 18px
    text-align center
    font-size 10px
    color $third
    transition background .3s
    &:hover
        background $secondary--80
.sadmin__detail__table
    td
        padding 3px 0
        font-size 10px
        color $third
        vertical-align top
        &:first-child
            width 150px
            font-weight $font-weight-semi-bold
.sadmin__detail__online
    display flex
    font-size 10px
    color $third
    margin-bottom 15px
    span
        &:first-child
            font-weight $font-weight-semi-bold
            margin-right 5px
.sadmin__list__container
    padding-left 25px
.sadmin__list__heading
    font-size 14px
    font-weight $font-weight-semi-bold
    color $third
    padding-left 50px
    padding-bottom 15px
.sadmin__list__list
    width 425px
    border-top 1px solid $third--80
    border-bottom 1px solid $third--80
.sadmin__list__item
    position relative
    font-size 12px
    font-weight $font-weight-light
    color $third
    padding 15px 0 15px 50px
    transition background .3s, box-shadow .3s
    &:hover
        background white
        box-shadow 0 0 29px 0 rgba(black, .1)
        .sadmin__list__button
            opacity 1
    b
        font-weight $font-weight-medium
.sadmin__list__empty
    font-size 12px
    font-weight $font-weight-light
    color $third
    padding 15px 0 15px 50px
.sadmin__list__button
    position absolute
    cursor pointer
    fill #565656
    top 50%
    transform translateY(-50%)
    opacity 0
    transition opacity .3s
    &--edit
        right 60px
    &--remove
        right 30px
.sadmin__list__add
    margin-left 25px
    margin-top 30px
.sadmin__search
    width 126px
    position absolute
    top 55px
    background white
    border-radius 10px
    box-shadow 0 8px 35px 0 rgba(black, .35)
    padding 8px 0
.sadmin__search__option
    padding 12px 18px
    color $third
    font-weight $font-weight-light
    font-size 10px
    cursor pointer
    letter-spacing .6px
    transition background .3s
    &:hover
        background #dfdfdf
    div
        overflow hidden
        text-overflow ellipsis
.sadmin__loader
    position absolute
    right -12.5px
    top 25px
.sadmin__schedule
    display flex
.sadmin__schedule__shift
    width 110px
    flex-shrink 0
    display flex
    flex-direction column
    padding-top 36px
    span
        height 60px
        display flex
        align-items center
        justify-content center
        text-align center
        font-size 12px
        font-weight $font-weight-light
        letter-spacing 0.7px
        color $third
.sadmin__schedule__content
    display flex
    flex-direction column
    width 750px
.sadmin__schedule__header
    display flex
    justify-content space-around
    width 100%
    margin-bottom 20px
    span
        font-size 14px
        font-weight $font-weight-semi-bold
        letter-spacing 0.8px
        color $primary--40
.sadmin__schedule__table
    display flex
    flex-direction column
.sadmin__schedule__tr
    display flex
    width 100%
    height 60px
    &:first-child
        .sadmin__schedule__td
            border-top 1px solid $third--80
            &:first-child
                &:before
                    content ''
                    position absolute
                    bottom 96%
                    left -4px
                    z-index 1
                    display block
                    width 7px
                    height 7px
                    border-radius 100%
                    background-image linear-gradient(120deg, $fourth--60, $third--60)
.sadmin__schedule__td
    position relative
    height 100%
    width 125px
    border-right 1px solid $third--60
    border-bottom 1px solid $third--60
    &:first-child
        border-left 1px solid $third--60
        &:after
            content ''
            position absolute
            top 96%
            left -4px
            z-index 1
            display block
            width 7px
            height 7px
            border-radius 100%
            background-image linear-gradient(120deg, $fourth--60, $third--60)
.sadmin__td__content
    position relative
    z-index 2
    cursor default
    display flex
    flex-direction column
    align-items center
    justify-content center
    width 100%
    height 100%
    padding 5px
    transition background .2s, transform .3s, box-shadow .3s
    &:hover
        background white
        transform scale(1.05)
        box-shadow 0 0 15px 0 rgba(0, 0, 0, 0.2)
        .sadmin__td__edit
        .sadmin__td__add
            opacity .7
        .sadmin__td__blank
            opacity 1
.sadmin__td__name
    font-size 10px
    font-weight $font-weight-light
    letter-spacing .6px
    color $third
    text-align center
    transition transform .3s
.sadmin__td__detail
    text-align center
    font-size 10px
    font-weight $font-weight-light
    letter-spacing .6px
    color $primary--40
    margin-top 3px
    transition transform .3s
.sadmin__td__edit
    position absolute
    top 5px
    right 5px
    cursor pointer
    opacity 0
    transition opacity .3s
    svg
        fill $third
.sadmin__td__blank
    display flex
    align-items center
    justify-content center
    flex-direction column
    width 100%
    height 100%
    cursor pointer
    opacity 0
    transition opacity .3s
.sadmin__td__add
    cursor pointer
    opacity 0
    margin-bottom 2px
    transition opacity .3s
    svg
        transform rotate(45deg)
        fill $third
.sadmin__label
    font-size 12px
    letter-spacing .6px
    color $third
    font-weight $font-weight-light
    margin-bottom 5px
.sadmin__select
    outline none
    font-size 12px
    border-radius 2.5px
    border 1px solid $third
    color $third
    padding 2.5px
.sadmin__grade__heading
    margin-bottom 20px
.sadmin__grade
    align-items center
    margin-bottom 10px
.sadmin__grade__heading
.sadmin__grade
    display flex
    span
    input
        color $third
        &:first-child
            width 140px
            padding-right 30px
        &:nth-child(2)
            width 285px
            padding-right 30px
        &:nth-child(3)
            width 190px
            margin-right 30px
        &:last-child
            width 190px
