<template>
    <div>
        <table class="table table--form mart--50 sadmin__invite__table">
            <thead>
            <tr>
                <th>NUPTK/PegID</th>
                <th>Email</th>
                <th>Nama</th>
                <th>Jenis Kelamin</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <search-teacher-row v-for="(teacher, index) in teachers"
                                :index="index"
                                :key="index"
                                :teacher="teachers[index]"
                                :direct-to-email="directToEmail"
                                @code-input="onCodeInput"
                                @email-input="onEmailInput"
                                @retrieved-teacher="setTeachersData"
                                @clear-teacher-data="clearTeachersData"
                                @delete-teacher-row="deleteTeacherRow"
                                @add-invite-row="addInviteRow">
            </search-teacher-row>
            </tbody>
        </table>
        <div class="sadmin__add">
            <button class="button button--invert sadmin__add__button" @click.prevent="addInviteRow"
                    v-if="!directToEmail">
                <span>+</span>
            </button>
            <button class="button marl--auto" @click="submitInvitation" v-if="!isSendingInvitation">
                <span>Kirim Undangan</span></button>
            <div class="dashboard__single__loader marl--auto" v-else></div>
        </div>
    </div>
</template>

<script>
    import SearchTeacherRow from './SearchTeacherRow.vue'

    export default {
        components: {
            SearchTeacherRow
        },
        data() {
            return {
                teachers: this.remoteTeachers,
                directToEmail: false,
                inviteTeachersUrl: inviteTeachersUrl,
                currentPageUrl: currentPageUrl,
                isSendingInvitation: false
            }
        },
        props: {
            remoteTeachers: Array
        },
        mounted() {
            document.getElementsByClassName('sadmin__teacher__code')[0].focus();
            this.directToEmail = !_.isEmpty(this.teachers[0]);
        },
        methods: {
            onCodeInput(data) {
                this.$set(this.teachers[data.index], 'code', '');
                this.$set(this.teachers[data.index], 'code', data.value);
            },
            onEmailInput(data) {
                this.$set(this.teachers[data.index], 'email', data.value);
            },
            addInviteRow() {
                let pushNewRow = new Promise((resolve) => {
                    this.teachers.push({});
                    resolve();
                });
                pushNewRow.then(() => {
                    this.$nextTick(() => {
                        document.getElementsByClassName('sadmin__teacher__code')[this.teachers.length - 1].focus();
                    });
                });
            },
            setTeachersData(data) {
                data.teacher.code = data.teacher.nuptk ? data.teacher.nuptk : data.teacher.ptk_id;
                this.$set(this.teachers, data.index, data.teacher);
            },
            clearTeachersData(data) {
                this.$set(this.teachers, data.index, data.teacher);
            },
            deleteTeacherRow(index) {
                if (this.teachers.length === 1) {
                    this.$emit('hide-add-table');
                    return;
                }
                this.$delete(this.teachers, index);
            },
            submitInvitation() {
                this.isSendingInvitation = true;
                axios.post(this.inviteTeachersUrl, {
                    teachers: this.teachers
                })
                    .then(response => {
                        window.location.href = this.currentPageUrl;
                        this.isSendingInvitation = false;
                    });
            }
        }
    }
</script>
