<template>
    <tr>
        <td>
            <input type="text" class="input sadmin__teacher__code"
                   ref="codeInput"
                   @keyup="handleCodeKeyUp($event)"
                   :value="teacher.code"
                   :disabled="directToEmail || isLoading || disableCodeInput">
        </td>
        <td>
            <div class="dashboard__single__loader" v-if="isLoading"></div>
            <template v-if="isDataExists === false">
                <div class="text--red">
                    <svg width="10" height="10">
                        <use :xlink:href="infoUrl"></use>
                    </svg>
                    Tidak Ditemukan
                </div>
            </template>
            <template v-else-if="isDataExists === true">
                <input type="text"
                       class="input sadmin__teacher__email"
                       ref="emailInput"
                       @keyup="$emit('email-input', {index: index, value: $event.target.value})"
                       @keyup.enter="$emit('add-invite-row')"
                       :value="teacher.email">
            </template>
        </td>
        <td>{{ teacher.name }}</td>
        <td>{{ teacherGender }}</td>
        <td>
            <svg width="10" height="10" class="sadmin__delete" @click="deleteRow">
                <use :xlink:href="removeUrl"></use>
            </svg>
        </td>
    </tr>
</template>

<script>
    export default {
        data() {
            return {
                isLoading: false,
                getTeacherUrl: getTeacherUrl,
                isDataExists: null,
                infoUrl: infoUrl,
                removeUrl: removeUrl,
                disableCodeInput: false
            }
        },
        props: {
            teacher: {},
            index: Number,
            directToEmail: false
        },
        mounted() {
            this.$nextTick(() => {
                if (this.directToEmail) {
                    let setDataExists = new Promise((resolve) => {
                        this.isDataExists = true;
                        resolve();
                    });
                    setDataExists.then(() => {
                        if (this.index === 0) {
                            this.$refs.emailInput.focus();
                        }
                    });
                }
            });
        },
        computed: {
            teacherGender() {
                if (this.teacher.gender) {
                    return this.teacher.gender === 'Male' ? 'Laki-Laki' : 'Perempuan';
                }
            }
        },
        watch: {
            email() {
                this.$emit('input', {
                    index: this.index,
                    email: this.email
                });
            }
        },
        methods: {
            getRemoteTeacherData() {
                this.isLoading = true;
                axios.post(this.getTeacherUrl, {
                    key: this.teacher.code,
                    limit: 1
                })
                    .then(response => {
                        this.isLoading = false;
                        if (response.data[0]) {
                            this.isDataExists = true;
                            this.$nextTick(() => {
                                this.$refs.emailInput.focus();
                            });
                            this.$emit('retrieved-teacher', {
                                index: this.index,
                                teacher: response.data[0]
                            });
                            this.disableCodeInput = true;
                        }
                        else {
                            let setDataExists = new Promise((resolve) => {
                                this.isDataExists = false;
                                resolve();
                            });
                            setDataExists.then(() => {
                                this.$refs.codeInput.focus();
                                this.emitClear();
                            });
                        }
                    });
            },
            deleteRow() {
                this.$emit('delete-teacher-row', this.index);
            },
            emitClear() {
                this.$emit(
                    'clear-teacher-data',
                    {
                        index: this.index,
                        teacher: {
                            code: this.teacher.code
                        }
                    }
                );
            },
            handleCodeKeyUp(event) {
                this.$emit('code-input', {index: this.index, value: event.target.value});

                if (this.directToEmail) {
                    return;
                }

                this.isDataExists = null;
                this.emitClear();
                if (event.target.value.length === 14 || event.target.value.length === 16) {
                    if (!this.isLoading) {
                        this.getRemoteTeacherData();
                    }
                }
            }
        }
    }
</script>
