<template>
    <tr>
        <td>
            <template v-if="!teacher.user[0].photo">
                <div class="dashboard__profile__empty dashboard__profile__empty--small">
                    <svg width="23" height="23">
                        <use :xlink:href="userIconUrl"></use>
                    </svg>
                </div>
            </template>
            <template v-else>
                <!--<img src="{{ asset('images/profile.jpg') }}" style="border-radius: 100%; width: 45px; height: 45px;">-->
            </template>
        </td>
        <td>
            {{ teacher.nuptk ? teacher.nuptk : teacher.ptk_id }}
            <svg class="admin__collapse__arrow" width="14" height="14">
                <use :xlink:href="arrowIconUrl"></use>
            </svg>
        </td>
        <td>{{ teacher.user[0].name }}</td>
        <td>{{ teacher.user[0].gender === 'Male' ? 'Laki-Laki' : 'Perempuan' }}</td>
        <td>{{ teacher.user[0].last_login ? teacher.user[0].last_login : '-' }}</td>
        <td>{{ teacher.user[0].username ? 'Aktif' : 'Menunggu' }}</td>
        <td>
            <template v-if="teacher.user[0].school_admin.length < 1">
                <svg width="21" height="21" class="sadmin__option" @click.stop="clickedOption">
                    <use :xlink:href="optionIconUrl"></use>
                </svg>
                <transition name="fade">
                    <div class="sadmin__options" v-if="isShowOption" v-click-outside="clickedOutsideOptions">
                        <template v-if="teacher.user[0].username === null">
                            <div class="sadmin__option__item" @click.stop="resendInvitation">
                                Kirim Ulang Undangan
                                <div class="dashboard__single__loader marl--10" v-if="isResendLoading"></div>
                            </div>
                            <div class="sadmin__option__item" @click.stop="cancelInvitation">
                                Batalkan Undangan
                                <div class="dashboard__single__loader marl--10" v-if="isCancelLoading"></div>
                            </div>
                        </template>
                        <template v-else>
                            <div class="sadmin__option__item" @click.stop="grantSchoolAdminRole">
                                Jadikan Admin
                                <div class="dashboard__single__loader marl--10" v-if="isGrantLoading"></div>
                            </div>
                        </template>
                    </div>
                </transition>
            </template>
        </td>
    </tr>
</template>

<script>
    export default {
        data() {
            return {
                userIconUrl: userIconUrl,
                optionIconUrl: optionIconUrl,
                arrowIconUrl: arrowIconUrl,
                teacherResendUrl: teacherResendUrl,
                isShowOption: false,
                currentPageUrl: currentPageUrl,
                teacherCancelUrl: teacherCancelUrl,
                teacherGrantUrl: teacherGrantUrl,
                isResendLoading: false,
                isCancelLoading: false,
                isGrantLoading: false
            }
        },
        props: {
            teacher: Object
        },
        methods: {
            showOption() {
                this.isShowOption = true;
            },
            hideOption() {
                this.isShowOption = false;
            },
            clickedOption() {
                if (!this.isShowOption) {
                    this.showOption();
                }
                else {
                    this.hideOption();
                }
            },
            clickedOutsideOptions() {
                this.hideOption();
            },
            resendInvitation() {
                this.isResendLoading = true;
                axios.post(this.teacherResendUrl, {
                    userId: this.teacher.user[0].id
                })
                    .then(response => {
                        this.isResendLoading = false;
                        this.hideOption();
                        window.location.href = this.currentPageUrl;
                    });
            },
            cancelInvitation() {
                this.isCancelLoading = true;
                axios.post(this.teacherCancelUrl, {
                    userId: this.teacher.user[0].id
                })
                    .then(response => {
                        this.isCancelLoading = false;
                        this.hideOption();
                        window.location.href = this.currentPageUrl;
                    });
            },
            grantSchoolAdminRole() {
                this.isGrantLoading = true;
                axios.post(this.teacherGrantUrl, {
                    userId: this.teacher.user[0].id
                })
                    .then(response => {
                        this.isGrantLoading = false;
                        this.hideOption();
                        window.location.href = this.currentPageUrl;
                    });
            }
        }
    }
</script>
