.button
    position relative
    background linear-gradient(to left, $third--60, $fourth--60)
    padding 10px 25px
    color white
    border none
    border-radius 10px
    outline none
    cursor pointer
    text-decoration none
    transition transform .3s, box-shadow .3s
    span
        display flex
        align-items center
        font-size 12px
        font-weight $font-weight-medium
        svg
            margin-right 10px
            fill $third
    &:hover
        transform translateY(-2.5px)
        box-shadow 0 5px 10px rgba(black, .15)
    &--invert
        &:before
            content ''
            position absolute
            left 50%
            top 50%
            transform translate(-50%, -50%)
            width calc(100% - 3px)
            height calc(100% - 3px)
            border-radius 8.5px
            background white
        span
            position relative
            z-index 1
            color $third
