.container
    position relative
    max-width 1258px
    height calc(100% - 70px)
    margin auto
    box-shadow 0 0 29px 0 rgba(black, 0.5)
.dashboard__container
    width 100%
    height 100vh
    background linear-gradient(to bottom, $primary, $secondary)
    overflow hidden
.dashboard
    position relative
    z-index 1
    display flex
    width 100%
    height calc(100% - 60px)
.dashboard__panel
    width 230px
    flex-shrink 0
    background rgba(white, .15)
    box-shadow 0 0 29px 0 rgba(black, .15)
    overflow auto
.dashboard__content
    width 100%
    background rgba(white, .5)
    overflow auto
.dashboard__profile
    display flex
    flex-direction column
    align-items center
    padding 40px 0
.dashboard__profile__image
    border-radius 100%
    width 100px
    height 100px
    margin-bottom 5px
    border 1px solid white
    box-shadow 0 2px 8px 0 rgba(black, .2)
    user-select none
    object-fit cover
.dashboard__profile__empty
    display flex
    align-items center
    justify-content center
    border-radius 100%
    width 145px
    height 145px
    margin-bottom 10px
    background #dfdfdf
    box-shadow 0 2px 8px 0 rgba(black, .2)
    user-select none
    &--small
        box-shadow none
        width 45px
        height 45px
        margin-bottom 0
    &--student
        width 100px
        height 100px
    svg
        fill #818181
.dashboard__profile__name
    text-align center
    color $third--60
    font-weight $font-weight-semi-bold
.dashboard__content__wrapper
    padding 40px
.dashboard__header
    display flex
    align-items center
    svg
        fill $third
    h1
        margin 0
        margin-left 40px
.dashboard__sub__header
    display flex
    align-items center
    margin-top 40px
    margin-bottom 20px
    padding-left 67px
    h2
        margin 0
    svg
        fill $third
.dashboard__single__loader
    border 3px solid $third--20
    border-top 3px solid $third
    border-radius 50%
    width 20px
    height 20px
    animation spin 1s linear infinite
.dashboard__actions
    display flex
    align-items center
    margin-top 40px
    padding-left 66px
.dashboard__student
    width 100%
    position relative
    z-index 1
    display flex
    background rgba(white, .3)
    height calc(100% - 60px)
.dashboard__student__wrapper
    padding 28px 58px
.dashboard__student__profile
    position relative
    z-index 1
    display flex
    width 100%
    padding 25px 80px
    border-radius 10px
    background linear-gradient(to left, $fourth--80, $primary--80)
    box-shadow 0 0 29px 0 rgba(black, 0.25)
    &--index
        margin-bottom 30px
.dashboard__spbelow
    font-size 14px
    font-weight $font-weight-semi-bold
    letter-spacing 0.8px
    color #ffffff
    text-align center
    margin-bottom 5px
    span
        font-weight $font-weight-light
.dashboard__profile__left
    width 100px
    display flex
    flex-shrink 0
    flex-direction column
    align-items center
.dashboard__profile__scenter
    width 320px
    margin-left 50px
    flex-shrink 0
.dashboard__scname
    font-size 16px
    font-weight $font-weight-semi-bold
    letter-spacing 1px
    color #ffffff
    margin-bottom 10px
.dashboard__scnim
    font-size 14px
    font-weight $font-weight-light
    letter-spacing 1px
    color #ffffff
    margin-bottom 25px
.dashboard__scclass
    font-size 14px
    font-weight $font-weight-semi-bold
    letter-spacing 1px
    color #ffffff
.dashboard__sccoin
    width 16px
    height 17px
    background url('/images/icons/coin.png') no-repeat
    margin-right 7px
.dashboard__sccoint
    font-size 14px
    font-weight $font-weight-semi-bold
    letter-spacing 1px
    color #ffffff
.dashboard__scoin__container
    display flex
    align-items center
.dashboard__lv
    width 210px
    margin-top auto
    &--index
        margin-top 25px
.dashboard__lv__txt
    display flex
    justify-content space-between
    margin-bottom 10px
    span
        &:first-child
            font-size 12px
            font-weight $font-weight-semi-bold
            letter-spacing 0.7px
            color #ffffff
        &:last-child
            font-size 10px
            font-weight $font-weight-light
            letter-spacing 0.6px
            color #ffffff
.dashboard__lv__barc
    position relative
    width 100%
    height 10px
    background #999999
    border-radius 5.5px
    &--log
        width 150px
.dashboard__lv__bar
    position absolute
    top 0
    left 0
    height 100%
    border-radius 5.5px
    background $third
.dashboard__profile__sright
    display flex
    flex-direction column
    width 210px
    margin-left auto
    &--index
        display block
        width 325px
.dashboard__badges__heading
    display block
    font-size 14px
    font-weight $font-weight-semi-bold
    letter-spacing 1px
    color #ffffff
    margin-bottom 10px
.dashboard__badges
    display flex
    flex-wrap wrap
    align-items center
    font-size 13px
    color white
    img
        height calc(0.18 * 325px)
        margin-right 20px
.dashboard__index
    display flex
    padding 0 80px
.dashboard__left
    width 550px
    flex-shrink 0
    color $third
.dashboard__right
    width 100%
    margin-left 60px
    color $third
.dashboard__content__item
    display flex
    flex-direction column
    align-items center
    width 100%
    padding 30px
    border-radius 10px
    background rgba(white, .15)
    box-shadow 0 0 29px 0 rgba(0, 0, 0, 0.05)
    margin-bottom 20px
    &--bigside
        padding 30px 50px
.dashboard__index__header
    font-size 16px
    font-weight $font-weight-semi-bold
    letter-spacing 1px
    text-align center
    margin-bottom 20px
.dashboard__index__subheader
    font-size 16px
    letter-spacing 1px
    color $third
    margin-top 10px
    margin-bottom 15px
    align-self flex-start
.dashboard__schedule
    position relative
    width 90%
    display flex
    flex-direction column
    padding 20px 50px
    border-radius 10px
    background rgba(white, .35)
    box-shadow 0 4px 15px 0 rgba(black, .07)
    margin-bottom 20px
    text-decoration none
    transition background .3s, filter .3s
    &--assignment
        padding 20px 30px
        padding-right 60px
        margin-bottom 10px
    &:last-child
        margin-bottom 0
    &:hover
        background rgba(white, .7)
    .dashboard__schedule__class
        color $third
    .dashboard__schedule__time
        color $third--80
    &--active
        width 100%
        background linear-gradient(299deg, $secondary, $primary)
        box-shadow 0 13px 25px 0 rgba(0, 0, 0, 0.1)
        &:hover
            background linear-gradient(299deg, $secondary, $primary)
            filter brightness(1.05)
        .dashboard__schedule__class
            color white
        .dashboard__schedule__time
            color rgba(white, .6)
.dashboard__schedule__class
    font-size 16px
    font-weight $font-weight-semi-bold
    margin-bottom 10px
    letter-spacing 1px
.dashboard__schedule__time
    font-size 12px
    letter-spacing 0.7px
.dashboard__common
    width 90%
    min-height 420px
    margin auto
    padding 40px
    border-bottom-left-radius 10px
    border-bottom-right-radius 10px
    background-color rgba(white, .4)
    box-shadow 0 0 29px 0 rgba(black, .075)
    .dashboard__header
        h1
            font-weight $font-weight-light
    .sadmin__schedule__header
        span
            color $third
    .sadmin__td__content
        .sadmin__td__detail
            color #999
    .sadmin__schedule__tr
        &:first-child
            .sadmin__schedule__td
                &:first-child
                    &:before
                        background $third
    .sadmin__schedule__td
        &:first-child
            &:after
                background $third
    .teacher__action__button
        svg
            fill #999
    .teacher__material__table
        tr
            td
                &:last-child
                    padding-left 0
                .teacher__action__button
                    svg
                        fill $third !important
    .teacher__assignment__table
        th
            &:nth-child(4)
                width 132px
            &:nth-child(5)
                width 90px
            &:last-child
                width 85px
        td
            &:nth-child(5)
                display flex
                justify-content flex-end
            &:last-child
                padding-left 15px
            .teacher__action__button
                svg
                    fill $third !important
    .sadmin__tab__item
        a
            color #999
        &--active
            a
                color $third
    .sadmin__itable__text
        &:nth-child(2)
            width 175px
.dashboard__course__selector
    padding 10px 20px
    margin-top 30px
    margin-left 68px
    background none
.dashboard__empty__data
    font-size 16px
    color $third
    margin-top 40px
    margin-left 68px
.dashboard__logs
    display flex
    flex-direction column
    padding 0 50px
.dashboard__log
    display flex
    align-items center
    padding 30px 50px
    border-radius 10px
    background-color rgba(#fff, .3)
    box-shadow 0 4px 15px 0 rgba(black, .08)
    margin-bottom 10px
    &:last-child
        margin-bottom 0
.dashboard__log__value
    width 12.5%
    flex-shrink 0
    font-size 24px
    font-weight $font-weight-bold
    &--img
        width 9%
        margin-right 3.5%
        display flex
        align-items center
        justify-content center
        img
            height 65px
            &.special
                height 45px
                margin-top 10px
                margin-bottom 10px
    &--plus
        color #07a371
    &--minus
        color #b30000
    &--na
        opacity .3
.dashboard__log__desc
    max-width 55%
    display flex
    flex-direction column
    flex-shrink 0
    &--na
        opacity .5
.dashboard__log__udesc
    font-weight $font-weight-semi-bold
    font-size 14px
    color $third
    margin-bottom 10px
.dashboard__log__ldesc
    font-weight $font-weight-light
    font-size 13px
    color $third
.dashboard__log__date
    color $third
    font-size 12px
    margin-left auto
.dashboard__progress__desc
    font-weight $font-weight-medium
    letter-spacing 0.6px
    font-size 10px
    color $third
    margin-bottom 10px
.dashboard__sccoin__table
    font-size 12px
    font-weight $font-weight-light
    letter-spacing 0.7px
    color $third
.dashboard__table__theme
    width 35px
    height 35px
    border-radius 10px
    &--wm
        background linear-gradient(299deg, #50408a, #3d74c5)
    &--tp
        background linear-gradient(299deg, #ed549c, #fec76c)
    &--cc
        background linear-gradient(299deg, #ac7b86, #85d5da)
.dashboard__theme__table
    th
        &:first-child
            width 65px
        &:nth-child(3)
            padding-left 62px
    td
        &:last-child
            display flex
        .button
            width 100px
            span
                justify-content center
.dashboard__assignment__done
    position absolute
    right 30px
    top 50%
    transform translateY(-50%)
.dashboard__leaderboard
    width 100%
    display flex
    flex-direction column
.dashboard__leaderboard__item
    display flex
    align-items center
    margin-bottom 10px
    &:last-child
        margin-bottom 0
    span
        &:first-child
            font-size 14px
            font-weight $font-weight-light
            letter-spacing .6px
            color $third
            max-width 75%
        &:last-child
            font-size 14px
            font-weight $font-weight-semi-bold
            letter-spacing .6px
            color $third
            margin-left auto
    &--self
        span
            &:first-child
                font-weight $font-weight-semi-bold
                color #07a371
.dashboard__grade
    margin-right 30px
    margin-top 40px
    margin-left 68px
    border-bottom 1.5px solid $third
.dashboard__grade__header
    display flex
    align-items center
    padding 15px 40px
    border-bottom 1.5px solid $third
    span
        font-weight $font-weight-semi-bold
        font-size 14px
        letter-spacing .8px
        color $third
        &:first-child
            width 300px
            padding-right 30px
        &:nth-child(2)
            width 230px
            padding-right 30px
        &:nth-child(3)
            width 150px
            padding-right 30px
.dashboard__grade__item
    display flex
    align-items flex-start
    padding 25px 40px
    border-bottom 1px solid #999
    &:last-child
        border-bottom none
    div
        display flex
        flex-direction column
        font-size 12px
        font-weight $font-weight-light
        letter-spacing 0.7px
        color $third
        span
            &:not(:last-child)
                margin-bottom 10px
        &:first-child
            width 300px
            padding-right 30px
        &:nth-child(2)
            width 230px
            padding-right 30px
        &:nth-child(3)
            width 150px
            padding-right 30px
