footer
    display flex
    flex-direction column
    align-items center
    justify-content center
    position absolute
    bottom -70px
    left 50%
    width 90.7%
    height 70px
    background rgba(white, .4)
    transform translateX(-50%)
    box-shadow 0 12px 29px 0 rgba(black, .5)
    span
        &:first-child
            font-size 20.5px
            color $third
            font-weight $font-weight-semi-bold
            margin-bottom 5px
        &:last-child
            font-weight $font-weight-light
            font-size 14px
            color $third--60
