.form__row
    position relative
    display flex
    flex-direction column
    margin-bottom 35px
    &--center
        align-items center
    &--error
        .input
            border-color #b30000
.label
    font-weight $font-weight-semi-bold
    font-size 13px
    color $third
    padding-left 12.5px
    letter-spacing 1.2px
    margin-bottom 5px
    cursor pointer
    text-transform uppercase
.input
    border none
    border-bottom 1.5px solid $third--20
    background none
    outline none
    padding 10px 12.5px
    font-weight $font-weight-light
    font-size 14px
    color $third
    transition border-bottom .3s
    &:disabled
        color #b7b7b7
    &:focus
        border-bottom-color $third--40
.error
    position absolute
    top 0
    right 0
    color #b30000
    font-size 13px
.form__dropdown
    width 135%
    margin-left 50%
    margin-top 10px
    transform translateX(-50%)
    background white
    padding 10px 0
    box-shadow 0 8px 27px rgba(black, .29)
    border-radius 10px
.form__dropdown__item
    letter-spacing 1.5px
    color #0aa3d5
    font-weight $font-weight-light
    font-size 15px
    padding 15px 45px
    text-transform uppercase
    cursor pointer
    transition background .3s
    &:last-child
        margin-bottom 0
    &:hover
        background #f5f5f5
label
    cursor pointer
.select
    outline none
    font-size 14px
    border-radius 2.5px
    border 1px solid $third
    color $third
