header
    width 100%
    height 60px
    display flex
.header__logo
    background rgba(white, .5)
    flex-shrink 0
    width 230px
    height 100%
    display flex
    align-items center
    justify-content center
    font-size 26px
    letter-spacing 5px
    cursor pointer
    user-select none
.header__main
    background rgba(black, .17)
    width 100%
    height 100%
.header__menu
    height 100%
    padding-right 40px
    display flex
    justify-content flex-end
    align-items center
.header__menu__item
    display block
    margin-left 20px
    background none
    border none
    cursor pointer
    outline none
    svg
        fill white
.header__navigation
    background rgba(white, .5)
    display flex
    width 100%
.header__navigation__section
    display flex
.header__navigation__item
    position relative
    height 100%
    width 100px
    display flex
    align-items center
    justify-content center
    transition background .3s
    &:hover
        background rgba(white, .28)
    &--active
        background rgba(white, .28)
        &:after
            content ''
            position absolute
            bottom 0
            left 0
            width 100%
            height 7px
            background linear-gradient(to left, $fourth, $third)
    svg
        fill $third
.header__option__section
    margin-left auto
    display flex
    align-items center
    justify-content center
    padding-right 40px
    svg
        fill $third
