.modal
    position fixed
    z-index 9998
    top 0
    left 0
    width 100%
    height 100%
    background-color rgba(#585858, .75)
    transition opacity .1s
    &--home
        .modal__header
            padding 65px 100px 0
            h1
                font-weight $font-weight-light
                font-size 35px
                margin-top 0
                text-transform uppercase
                letter-spacing 4.9px
                color #0aa3d5
                padding-left 8px
        .modal__body
            padding 20px 100px
.modal__wrapper
    position relative
    width 100%
    height 100%
    display flex
    align-items center
    justify-content center
    overflow-y auto
.modal__wrapper__inner
    position absolute
    display flex
    align-items center
.modal__container
    position relative
    width 500px
    background-color rgba(#fff, .95)
    border-radius 10px
    box-shadow 0 8px 35px rgba(0, 0, 0, .27)
    transition all .1s
.modal__body
    padding 40px 60px

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter
    opacity 0

.modal-leave-active
    opacity 0

.modal-enter .modal__container,
.modal-leave-active .modal__container
    transform scale(1.05)
