nav
    width 100%
    display flex
    flex-direction column
    a
        display flex
        align-items center
        height 40px
        font-size 14px
        font-weight $font-weight-light
        text-decoration none
        color $third
        margin-bottom 5px
        padding-left 30px
        transition font-weight .3s
        svg
            fill $third
            margin-right 20px
        span
            display flex
            align-items center
        &:hover
            font-weight $font-weight-semi-bold
        &.active
            pointer-events none
            font-weight $font-weight-semi-bold
            &:after
                content ''
                width 7px
                height 100%
                margin-left auto
                background linear-gradient(120deg, $fourth, $third)
        &.active-primary
            pointer-events none
            font-weight $font-weight-semi-bold
        &.nav__secondary
            position relative
            padding-left 85px
            &--sub
                height 55px
                span
                    &:first-child
                        margin-top -10px
                    &:last-child
                        position absolute
                        bottom 12.5px
                        font-size 10px
