.pagination
    display flex
    justify-content flex-end
    margin-top 30px
.pagination__link
    user-select none
    text-decoration none
    color $third
    font-size 12px
    width 14px
    height 24px
    display flex
    align-items center
    justify-content center
    margin-right 15px
    padding-top 1.5px
    border-bottom 1.5px solid transparent
    transition border-bottom-color .3s
    &:hover
        border-bottom-color $third--80
    &--active
        cursor default
        width 24px
        height 24px
        border-radius 5px
        background $third--80
        color white
        border none !important
        padding-top 0
    &--arrow
        padding-top 0
        width 24px
        height 24px
        background white
        border-radius 5px
        border none !important
        transition box-shadow .3s
        &:hover
            box-shadow 0 0 15px 0 rgba(black, .2)
        svg
            fill #565656
    &--arrow-next
        svg
            transform rotate(180deg)
