.table
    width 875px
    margin-left 36px
    border-spacing 0
    border-bottom 1.5px solid $third--60
    white-space nowrap
    table-layout fixed
    th
        font-size 14px
        font-weight $font-weight-semi-bold
        color $third
        text-align left
        border-bottom 1.5px solid $third--60
        padding 15px 0
        padding-left 30px
        &:last-child
            padding-right 30px
    td
        position relative
        padding 15px 0
        padding-left 30px
        font-size 14px
        color $third
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
        &:last-child
            padding-right 30px
        .button
            margin-right 5px
            &:last-child
                margin-right 0
    tbody
        tr
            background transparent
            transition background .3s
            &:hover
                background rgba(white, .5)
                box-shadow 0 0 29px 0 rgba(black, .1)
    .input
        width 100%
        margin-left -12.5px
    &--form
        tr
            border-bottom 2px solid $third--60
            td
                color $primary--40
