<template>
    <textarea ref="textarea"
              :name="name"
              :rows="rows"
              :placeholder="placeholder"
              :value="value"
              @input="updateContent">
    </textarea>
</template>

<script>
    import autosize from 'autosize';

    export default {
        props: {
            name: {
                required: false
            },
            value: {
                default: ''
            },
            rows: {
                default: 1
            },
            placeholder: {
                default: ''
            }
        },
        mounted() {
            autosize($(this.$el));
        },
        methods: {
            updateContent() {
                this.$emit('input', this.$refs.textarea.value);
            }
        }
    }
</script>
