<template>
    <transition name="modal">
        <div class="modal" :class="{ 'modal--home': isHomeModal }" @click.stop="handleModalClick">
            <div class="modal__wrapper" ref="modalWrapper">
                <div class="modal__wrapper__inner">
                    <div class="modal__container" :style="{ width: width + 'px' }" ref="modalContainer">
                        <div class="modal__header">
                            <slot name="header"></slot>
                        </div>
                        <div class="modal__body">
                            <slot></slot>
                        </div>
                        <div class="modal__footer">
                            <slot name="footer"></slot>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        props: {
            isHomeModal: {
                type: Boolean,
                default: false
            },
            width: {
                type: Number,
                default: 300
            }
        },
        created() {
            $('body').css('overflow', 'hidden');
        },
        destroyed() {
            $('body').css('overflow', '');
        },
        methods: {
            handleModalClick(e) {
                if (!this.$refs.modalContainer.contains(e.target)) {
                    this.$emit('modal-close');
                }
            }
        }
    }
</script>
