<template>
    <tr>
        <td>
            <input type="text"
                   ref="codeInput"
                   class="input sadmin__teacher__code"
                   @keyup="handleCodeKeyUp($event)"
                   :value="student.nisn"
                   :disabled="isLoading || disableCodeInput">
        </td>
        <td>
            <div class="dashboard__single__loader" v-if="isLoading"></div>
            <template v-if="isDataExists === false">
                <div class="text--red">
                    <svg width="10" height="10">
                        <use :xlink:href="infoUrl"></use>
                    </svg>
                    Tidak Ditemukan
                </div>
            </template>
            <template v-else-if="isDataExists === true">
                <input type="text"
                       class="input sadmin__teacher__email"
                       ref="emailInput"
                       @keyup="$emit('email-input', {index: index, value: $event.target.value})"
                       @keyup.enter="$emit('add-invite-row')"
                       :value="student.email">
            </template>
        </td>
        <td>{{ student.name }}</td>
        <td>{{ studentGender }}</td>
        <td>
            <svg width="10" height="10" class="sadmin__delete" @click="deleteRow">
                <use :xlink:href="removeUrl"></use>
            </svg>
        </td>
    </tr>
</template>

<script>
    export default {
        data() {
            return {
                isLoading: false,
                getStudentUrl: getStudentUrl,
                isDataExists: null,
                infoUrl: infoUrl,
                removeUrl: removeUrl,
                disableCodeInput: false
            }
        },
        props: {
            student: {},
            index: Number
        },
        computed: {
            studentGender() {
                if (this.student.gender) {
                    return this.student.gender === 'Male' ? 'Laki-Laki' : 'Perempuan';
                }
            }
        },
        watch: {
            email() {
                this.$emit('input', {
                    index: this.index,
                    email: this.email
                });
            }
        },
        methods: {
            getRemoteTeacherData() {
                this.isLoading = true;
                axios.post(this.getStudentUrl, {
                    nisn: this.student.nisn
                })
                    .then(response => {
                        this.isLoading = false;
                        this.isDataExists = true;
                        this.$nextTick(() => {
                            this.$refs.emailInput.focus();
                        });
                        response.data.nisn = this.student.nisn;
                        this.$emit('retrieved-student', {
                            index: this.index,
                            student: response.data
                        });
                        this.disableCodeInput = true;
                    })
                    .catch(e => {
                        this.isLoading = false;
                        let setDataExists = new Promise((resolve) => {
                            this.isDataExists = false;
                            resolve();
                        });
                        setDataExists.then(() => {
                            this.$refs.codeInput.focus();
                            this.emitClear();
                        });
                    });
            },
            deleteRow() {
                this.$emit('delete-student-row', this.index);
            },
            emitClear() {
                this.$emit(
                    'clear-student-data',
                    {
                        index: this.index,
                        student: {
                            nisn: this.student.nisn
                        }
                    }
                );
            },
            handleCodeKeyUp(event) {
                this.$emit('code-input', {index: this.index, value: event.target.value});

                this.isDataExists = null;
                this.emitClear();
                if (event.target.value.length === 10) {
                    if (!this.isLoading) {
                        this.getRemoteTeacherData();
                    }
                }
            }
        }
    }
</script>
