<template>
    <div :style="{ minHeight: containerMinHeight + 'px' }" ref="container">
        <table class="table sadmin__table">
            <thead>
            <tr>
                <th></th>
                <th>NISN</th>
                <th>Nama</th>
                <th>Jenis Kelamin</th>
                <th>Terakhir Aktif</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <student-row :student="student"
                         v-for="(student, index) in students"
                         :key="index"
                         :class="{ 'active': activeItemIndex === index }"
                         @click.native.stop="changeActiveItem(index)">
            </student-row>
            </tbody>
        </table>
        <slot></slot>
        <transition name="fade">
            <div class="admin__school__detail width--350"
                 v-if="activeItemIndex !== null"
                 :style="detailStyle"
                 v-click-outside="detailClickedOutside"
                 @click.stop>
                <div class="admin__detail__section">
                    <h3 class="no-margin marb--10">{{ students[activeItemIndex].user[0].name }}</h3>
                    <div class="sadmin__detail__online">
                        <span>Terakhir aktif</span>
                        <span>{{ students[activeItemIndex].user[0].last_login || '-' }}</span>
                    </div>
                    <table class="sadmin__detail__table">
                        <tr v-if="students[activeItemIndex].user[0].username">
                            <td>Username</td>
                            <td>{{ students[activeItemIndex].user[0].username }}</td>
                        </tr>
                        <tr>
                            <td>NISN</td>
                            <td>{{ students[activeItemIndex].nisn }}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{ students[activeItemIndex].user[0].email || '-' }}</td>
                        </tr>
                        <tr>
                            <td>Nomor Telepon</td>
                            <td>{{ students[activeItemIndex].user[0].phone || '-' }}</td>
                        </tr>
                        <tr>
                            <td>Tempat, Tanggal Lahir</td>
                            <td>{{ bornPlaceDate }}</td>
                        </tr>
                        <tr>
                            <td>Jenis Kelamin</td>
                            <td>{{ gender }}</td>
                        </tr>
                        <tr>
                            <td>Alamat</td>
                            <td>
                                {{ students[activeItemIndex].user[0].address || '-' }}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ joinDateLabel }}</td>
                            <td>{{ students[activeItemIndex].user[0].updated_at }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import StudentRow from './StudentRow.vue'

    export default {
        data() {
            return {
                activeItemIndex: null,
                containerMinHeight: 0
            }
        },
        props: {
            students: Array,
            lastPage: Number
        },
        mounted() {
            this.containerMinHeight = this.$refs.container.offsetHeight;
        },
        computed: {
            detailStyle() {
                return this.lastPage > 1
                    ?
                    {marginTop: -73.6 * (this.students.length - this.activeItemIndex) + 52.5 - 54 + 'px'}
                    :
                    {marginTop: -73.6 * (this.students.length - this.activeItemIndex) + 52.5 + 'px'};
            },
            gender() {
                let gender = this.students[this.activeItemIndex].user[0].gender;
                if (!gender) {
                    return '-'
                }
                else {
                    if (gender === 'Male') {
                        return 'Laki-Laki';
                    }
                    else {
                        return 'Perempuan';
                    }
                }
            },
            bornPlaceDate() {
                let bornPlace = this.students[this.activeItemIndex].user[0].born_place || '-';
                let bornDate = this.students[this.activeItemIndex].user[0].born_date || '-';
                if (bornPlace === '-' && bornDate === '-') {
                    return '-'
                }
                else if (bornPlace === '-') {
                    return bornDate;
                }
                else {
                    return bornPlace + ', ' + bornDate;
                }
            },
            joinDateLabel() {
                if (this.students[this.activeItemIndex].user[0].created_at === this.students[this.activeItemIndex].user[0].updated_at) {
                    return 'Diundang Pada';
                }
                else {
                    return 'Bergabung Sejak';
                }
            }
        },
        components: {
            StudentRow
        },
        methods: {
            closeActiveItem() {
                this.activeItemIndex = null;
            },
            changeActiveItem(index) {
                if (this.activeItemIndex === null) {
                    this.activeItemIndex = index
                }
                else {
                    if (this.activeItemIndex === index) {
                        this.closeActiveItem();
                    }
                    else {
                        this.closeActiveItem();
                        setTimeout(() => this.activeItemIndex = index, 150);
                    }
                }
            },
            detailClickedOutside() {
                this.closeActiveItem();
            }
        }
    }
</script>
