<template>
    <tr>
        <td>
            <template v-if="!photo">
                <div class="dashboard__profile__empty dashboard__profile__empty--small">
                    <svg width="23" height="23">
                        <use :xlink:href="userIconUrl"></use>
                    </svg>
                </div>
            </template>
            <template v-else>
                <!--<img src="{{ asset('images/profile.jpg') }}" style="border-radius: 100%; width: 45px; height: 45px;">-->
            </template>
        </td>
        <td>{{ student.nisn }}</td>
        <td class="visible">
            <input type="text"
                   class="input sadmin__teacher__code"
                   v-model="keyword"
                   :disabled="disabledInput">
            <div class="dashboard__single__loader sadmin__loader" v-if="isLoading"></div>
            <transition name="fade">
                <div class="sadmin__search" v-if="students.length > 0" v-click-outside="onStudentSearch">
                    <div class="sadmin__search__option" v-for="student in students" @click="optionClicked(student)">
                        <div>{{ student.user[0].name }}</div>
                        <div>{{ student.nisn }}</div>
                    </div>
                </div>
            </transition>
        </td>
        <td>{{ gender }}</td>
        <td>{{ lastLogin }}</td>
        <td>{{ status }}</td>
        <td>
            <svg width="10" height="10" class="sadmin__delete" @click="deleteRow">
                <use :xlink:href="removeUrl"></use>
            </svg>
        </td>
    </tr>
</template>

<script>
    export default {
        data() {
            return {
                isLoading: false,
                searchStudentUrl: searchStudentUrl,
                userIconUrl: userIconUrl,
                infoUrl: infoUrl,
                removeUrl: removeUrl,
                disableCodeInput: false,
                students: [],
                keyword: '',
                disabledInput: false
            }
        },
        props: {
            student: {},
            index: Number
        },
        computed: {
            photo() {
                return _.isEmpty(this.student) ? null : this.student.user[0].photo;
            },
            gender() {
                if (!_.isEmpty(this.student)) {
                    return this.student.user[0].gender === 'Male' ? 'Laki-Laki' : 'Perempuan';
                }
                else {
                    return null;
                }
            },
            lastLogin() {
                if (!_.isEmpty(this.student)) {
                    return this.student.user[0].last_login ? student.user[0].last_login : '-';
                }
                else {
                    return null;
                }
            },
            status() {
                if (!_.isEmpty(this.student)) {
                    return this.student.user[0].username ? 'Aktif' : 'Menunggu';
                }
                else {
                    return null;
                }
            }
        },
        watch: {
            keyword() {
                this.keyword === '' || this.disabledInput
                    ?
                    this.students = []
                    :
                    this.searchKeyword();
            }
        },
        methods: {
            searchKeyword: _.debounce(function () {
                this.isLoading = true;
                axios.post(this.searchStudentUrl, {
                    name: this.keyword
                })
                    .then(response => {
                        this.isLoading = false;
                        if (this.keyword !== '') {
                            this.students = response.data;
                        }
                        else {
                            this.students = [];
                        }
                    });
            }, 500),
            deleteRow() {
                this.$emit('delete-student-row', this.index);
            },
            emitClear() {
                this.$emit(
                    'clear-student-data',
                    {
                        index: this.index,
                        student: {
                            name: this.student.name
                        }
                    }
                );
            },
            onStudentSearch() {
                this.students = [];
            },
            optionClicked(student) {
                this.$emit('retrieved-student', {
                    index: this.index,
                    student: student
                });
                this.students = [];

                this.$nextTick(() => {
                    this.disabledInput = true;
                    this.keyword = this.student.user[0].name;
                });
            }
        }
    }
</script>
