<template>
    <div style="margin-bottom: 200px;">
        <table class="table table--form mart--50 sadmin__table">
            <thead>
            <tr>
                <th></th>
                <th>NISN</th>
                <th>Nama</th>
                <th>Jenis Kelamin</th>
                <th>Terakhir Aktif</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <search-student-row v-for="(student, index) in students"
                                :index="index"
                                :key="index"
                                :student="students[index]"
                                @code-input="onCodeInput"
                                @email-input="onEmailInput"
                                @retrieved-student="setTeachersData"
                                @clear-student-data="setTeachersData"
                                @delete-student-row="deleteTeacherRow"
                                @add-invite-row="addInviteRow">
            </search-student-row>
            </tbody>
        </table>
        <div class="sadmin__add">
            <button class="button button--invert sadmin__add__button" @click.prevent="addInviteRow">
                <span>+</span>
            </button>
            <button class="button marl--auto" @click="addStudent" v-if="!isAddingStudent">
                <span>Tambah Siswa</span></button>
            <div class="dashboard__single__loader marl--auto" v-else></div>
        </div>
    </div>
</template>

<script>
    import SearchStudentRow from './SearchStudentRow.vue'

    export default {
        components: {
            SearchStudentRow
        },
        data() {
            return {
                students: [{}],
                addStudentUrl: addStudentUrl,
                isAddingStudent: false
            }
        },
        props: {
            classroomId: Number
        },
        mounted() {
            document.getElementsByClassName('sadmin__teacher__code')[0].focus();
        },
        methods: {
            onCodeInput(data) {
                this.$set(this.students[data.index], 'nisn', data.value);
            },
            onEmailInput(data) {
                this.$set(this.students[data.index], 'email', data.value);
            },
            addInviteRow() {
                let pushNewRow = new Promise((resolve) => {
                    this.students.push({});
                    resolve();
                });
                pushNewRow.then(() => {
                    this.$nextTick(() => {
                        document.getElementsByClassName('sadmin__teacher__code')[this.students.length - 1].focus();
                    });
                });
            },
            setTeachersData(data) {
                this.$set(this.students, data.index, data.student);
            },
            deleteTeacherRow(index) {
                if (this.students.length === 1) {
                    this.$emit('hide-add-table');
                    return;
                }
                this.$delete(this.students, index);
            },
            addStudent() {
                this.isAddingStudent = true;
                axios.post(this.addStudentUrl, {
                    students: this.students,
                    classroomId: this.classroomId
                })
                    .then(response => {
                        window.location.href = '';
                        this.isAddingStudent = false;
                    });
            }
        }
    }
</script>
