$img-dir = '/images/login/'

.logadmin
    width 100%
    min-height 100vh
    padding 50px 0
    background linear-gradient(to bottom, #ffffff, #d7d7d7)
    display flex
    align-items center
    justify-content center
.logadmin__illustration
    width 620px
    height 326px
    background url($img-dir + 'bg-admin.jpg') left -80px / 730px no-repeat
    border-radius 10px
    border-top-right-radius 0
    border-bottom-right-radius 0
    display flex
    align-items center
    justify-content center
    color white
    font-size 75px
    font-weight $font-weight-light
    letter-spacing 20px
    box-shadow 0 8px 35px 0 rgba(0, 0, 0, 0.27), inset 0 0 4px 0 rgba(0, 0, 0, 0.09)
    user-select none
.logadmin__box
    width 500px
    background rgba(white, .9)
    border-radius 10px
    padding 65px 85px
    box-shadow 0 8px 35px 0 rgba(0, 0, 0, 0.27), inset 0 0 4px 0 rgba(0, 0, 0, 0.09)
    h1
        font-weight $font-weight-light
        font-size 35px
        margin-top 0
        text-transform uppercase
        letter-spacing 4.9px
        color #0aa3d5
        padding-left 8px
    form
        padding-top 20px
    .hform__row
        &:last-child
            margin-bottom 0
