<template>
    <modal :width="400" @modal-close="$emit('modal-close')">
        <div class="admin__approve">
            <div class="admin__approve__heading">Tambah Shift</div>
            <div class="admin__school__name">{{ schoolName }}</div>
            <div class="admin__confirm__text">Masukkan Shift</div>
            <form :action="addUrl" method="POST">
                <select name="startHour" class="select">
                    <option :value="index - 1" v-for="index in 10">0{{ index - 1 }}</option>
                    <option :value="index + 9" v-for="index in 15">{{ index + 9 }}</option>
                </select>
                <span class="text--14">:</span>
                <select name="startMinute" class="select marr--10">
                    <option :value="index - 1" v-for="index in 10">0{{ index - 1 }}</option>
                    <option :value="index + 9" v-for="index in 51">{{ index + 9 }}</option>
                </select>
                <span class="text--14">s/d</span>
                <select name="endHour" class="select marl--10">
                    <option :value="index - 1" v-for="index in 10">0{{ index - 1 }}</option>
                    <option :value="index + 9" v-for="index in 15">{{ index + 9 }}</option>
                </select>
                <span class="text--14">:</span>
                <select name="endMinute" class="select">
                    <option :value="index - 1" v-for="index in 10">0{{ index - 1 }}</option>
                    <option :value="index + 9" v-for="index in 51">{{ index + 9 }}</option>
                </select>
                <input type="hidden" name="_token" :value="token">
                <div class="flex flex--center mart--30">
                    <button type="submit" class="button"><span>Simpan</span></button>
                </div>
            </form>
        </div>
    </modal>
</template>

<script>
    export default {
        data() {
            return {
                addUrl: addUrl,
                token: document.head.querySelector('meta[name="csrf-token"]').content
            }
        },
        props: {
            schoolName: String
        }
    }
</script>
