<template>
    <modal @modal-close="$emit('modal-close')">
        <div class="admin__approve">
            <div class="admin__approve__heading">Hapus Shift</div>
            <div class="admin__school__name">{{ item.name }}</div>
            <div class="admin__confirm__text text--center">Anda Yakin?</div>
            <form :action="deleteUrl" method="POST">
                <input type="hidden" name="id" :value="item.id">
                <input type="hidden" name="_token" :value="token">
                <input type="hidden" name="_method" value="DELETE">
                <div class="flex flex--center mart--10">
                    <button type="submit" class="button marr--20"><span>Ya</span></button>
                    <button class="button" @click.prevent="$emit('modal-close')"><span>Tidak</span></button>
                </div>
            </form>
        </div>
    </modal>
</template>

<script>
    export default {
        data() {
            return {
                deleteUrl: deleteUrl,
                token: document.head.querySelector('meta[name="csrf-token"]').content
            }
        },
        props: {
            item: {
                type: Object,
                default: {}
            }
        }
    }
</script>
