<template>
    <modal :width="400" @modal-close="$emit('modal-close')">
        <div class="admin__approve">
            <div class="admin__approve__heading">Ubah Shift</div>
            <div class="admin__school__name">{{ schoolName }}</div>
            <div class="admin__confirm__text text--center">Masukkan nama mata pelajaran yang baru</div>
            <form :action="editUrl" method="POST">
                <select name="startHour" class="select">
                    <option :value="index - 1" v-for="index in 10" :selected="index - 1 == item.start_time[1]">0{{ index - 1 }}</option>
                    <option :value="index + 9" v-for="index in 15" :selected="index + 9 == item.start_time.slice(0, 2)">{{ index + 9 }}</option>
                </select>
                <span class="text--14">:</span>
                <select name="startMinute" class="select marr--10">
                    <option :value="index - 1" v-for="index in 10" :selected="index - 1 == item.start_time[4]">0{{ index - 1 }}</option>
                    <option :value="index + 9" v-for="index in 51" :selected="index + 9 == item.start_time.slice(3, 5)">{{ index + 9 }}</option>
                </select>
                <span class="text--14">s/d</span>
                <select name="endHour" class="select marl--10">
                    <option :value="index - 1" v-for="index in 10" :selected="index - 1 == item.end_time[1]">0{{ index - 1 }}</option>
                    <option :value="index + 9" v-for="index in 15" :selected="index + 9 == item.end_time.slice(0, 2)">{{ index + 9 }}</option>
                </select>
                <span class="text--14">:</span>
                <select name="endMinute" class="select">
                    <option :value="index - 1" v-for="index in 10" :selected="index - 1 == item.end_time[4]">0{{ index - 1 }}</option>
                    <option :value="index + 9" v-for="index in 51" :selected="index + 9 == item.end_time.slice(3, 5)">{{ index + 9 }}</option>
                </select>
                <input type="hidden" name="id" :value="item.id">
                <input type="hidden" name="_token" :value="token">
                <input type="hidden" name="_method" value="PATCH">
                <div class="flex flex--center mart--30">
                    <button type="submit" class="button"><span>Simpan</span></button>
                </div>
            </form>
        </div>
    </modal>
</template>

<script>
    export default {
        data() {
            return {
                editUrl: editUrl,
                token: document.head.querySelector('meta[name="csrf-token"]').content
            }
        },
        props: {
            schoolName: String,
            item: {
                type: Object,
                default: {}
            }
        }
    }
</script>
