<template>
    <div class="sadmin__list__item">
        <b>{{ item.start_time.slice(0, item.start_time.length - 3) }}</b> - <b>{{ item.end_time.slice(0, item.end_time.length - 3) }}</b>
        <svg width="12" height="12" class="sadmin__list__button sadmin__list__button--edit" @click="$emit('edit-item', item)">
            <use :xlink:href="editIconUrl"></use>
        </svg>
        <svg width="12" height="12" class="sadmin__list__button sadmin__list__button--remove" @click="$emit('remove-item', item)">
            <use :xlink:href="removeIconUrl"></use>
        </svg>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                editIconUrl: editIconUrl,
                removeIconUrl: removeIconUrl
            }
        },
        props: {
            item: Object
        }
    }
</script>
