<template>
    <modal v-if="showModal" :is-home-modal="true" @modal-close="$emit('modal-close')">
        <template slot="header">
            <h1 v-if="state === 'register'">Daftar</h1>
            <h1 v-else-if="state === 'show_school_detail'">Data Sekolah</h1>
            <h1 v-else-if="state === 'show_school_admin_form'">Data Pengaju</h1>
        </template>
        <template v-if="state === 'register'">
            <div class="hform__row">
                <label for="school-field" class="hlabel">Nama/Kode NPSN Sekolah</label>
                <input id="school-field" type="text" class="hinput hinput--icon" autofocus :disabled="schoolExistWording !== ''" v-model="keyword">
                <div class="hform__row__loader" v-if="isSearching"></div>
                <div class="hform__dropdown" v-if="schools.length">
                    <div class="hform__dropdown__item"
                         v-for="school in schools"
                         @click="selectSchool(school)">
                        <div class="hform__dropdown__name">{{ school.name}} - {{ school.npsn }}</div>
                        <div class="hform__dropdown__location">{{ school.location }}</div>
                    </div>
                </div>
                <svg class="htick" width="20" height="20" v-if="schoolExistWording">
                    <use :xlink:href="tickSvgAsset"></use>
                </svg>
            </div>
            <div class="hform__row hform__row--center">
                <template v-if="!schoolExistWording">
                    <button class="hbutton" @click="getSchoolStatus(); getSchoolData();"><span>Periksa</span></button>
                </template>
                <template v-else>
                    <span class="hform__message">{{ schoolExistWording }}</span>
                </template>
            </div>
            <div class="hmodal__question">Sudah Punya Akun?</div>
        </template>
        <template v-else-if="state === 'show_school_detail'">
            <div class="hform__row">
                <label class="hlabel">Nama Sekolah</label>
                <input type="text" class="hinput" :value="selectedSchool.name" disabled>
            </div>
            <div class="hform__row">
                <label class="hlabel">Jenjang Pendidikan</label>
                <input type="text" class="hinput" :value="selectedSchool.educationalLevel" disabled>
            </div>
            <div class="hform__row">
                <label class="hlabel">Jenis Sekolah</label>
                <input type="text" class="hinput" :value="selectedSchool.status" disabled>
            </div>
            <div class="hform__row">
                <label class="hlabel">Alamat</label>
                <auto-textarea class="htextarea" :value="selectedSchool.fullAddress" disabled></auto-textarea>
            </div>
            <div class="hform__row hform__row--center">
                <button class="hbutton" @click="showSchoolAdminForm"><span>Lanjut</span></button>
            </div>
        </template>
        <template v-else-if="state === 'show_school_admin_form'">
            <div class="hform__row">
                <label for="name-field" class="hlabel">Nama</label>
                <input id="name-field" type="text" class="hinput" v-model="admin.name">
            </div>
            <div class="hform__row">
                <label for="email-field" class="hlabel">Email</label>
                <input id="email-field" type="text" class="hinput" v-model="admin.email">
            </div>
            <div class="hform__row">
                <label for="phone-field" class="hlabel">Nomor Telepon</label>
                <input id="phone-field" type="text" class="hinput" v-model="admin.phone">
            </div>
            <div class="hform__row hform__row--center">
                <button class="hbutton" @click="apply"><span>Ajukan</span></button>
            </div>
        </template>
        <template slot="footer" v-if="state === 'register'">
            <div class="hmodal__footer__button">Masuk</div>
        </template>
    </modal>
</template>

<script>
    export default {
        data() {
            return {
                schoolSearchUrl: schoolSearchUrl,
                schoolIndexUrl: schoolIndexUrl,
                keyword: '',
                schools: [],
                selectedSchool: null,
                isAssigning: false,
                isSearching: false,
                schoolExistWording: '',
                state: 'register',
                tickSvgAsset: tickSvgAsset,
                admin: {
                    name: '',
                    email: '',
                    phone: ''
                }
            }
        },
        watch: {
            keyword() {
                this.keyword === '' || this.isAssigning
                    ?
                    this.schools = []
                    :
                    this.searchKeyword();
            }
        },
        props: {
            showModal: Boolean
        },
        methods: {
            searchKeyword: _.debounce(function () {
                this.isSearching = true;
                axios.post(this.schoolSearchUrl, {
                    keyword: this.keyword
                })
                    .then(response => {
                        this.isSearching = false;
                        if (this.keyword) {
                            this.schools = response.data;
                        }
                    })
                    .catch(e => {
                        this.isSearching = false;
                        this.schools = [];
                    })
            }, 500),
            selectSchool(school) {
                this.isAssigning = true;
                this.selectedSchool = school;
                this.keyword = this.selectedSchool.name;
                let _self = this;
                setTimeout(function () {
                    _self.isAssigning = false;
                }, 1000);
            },
            getSchoolStatus() {
                axios.post(this.schoolIndexUrl + '/' + this.selectedSchool.npsn)
                    .then(response => {
                        if (response.data) {
                            switch (response.data) {
                                case 'pending':
                                    this.schoolExistWording = 'Sekolah anda sedang dalam proses pengajuan, silakan menunggu kabar selanjutnya dari kami';
                                    break;
                                case 'approved':
                                    this.schoolExistWording = 'Sekolah anda sudah terdaftar, silakan hubungi pihak sekolah untuk mendapatkan akses'
                            }
                        }
                        else {
                            let getSchoolData = new Promise((resolve, reject) => {
                                this.getSchoolData().then(() => {
                                    this.selectedSchool.fullAddress = this.getSchoolFullAddress();
                                    resolve();
                                });
                            });
                            getSchoolData.then(() => this.state = 'show_school_detail');
                        }
                    })
            },
            getSchoolData() {
                return new Promise((resolve, reject) => {
                    axios.post(this.schoolSearchUrl + '/' + this.selectedSchool.npsn)
                        .then(response => {
                            this.selectedSchool = response.data;
                            resolve();
                        });
                });
            },
            showSchoolAdminForm() {
                this.state = 'show_school_admin_form';
                this.$nextTick(() => {
                    document.getElementById('name-field').focus();
                });
            },
            getSchoolFullAddress() {
                let addressArray = [];
                let address = this.selectedSchool.address ? this.selectedSchool.address : null;
                let administrativeVillage = this.selectedSchool.administrativeVillage ? this.selectedSchool.administrativeVillage : null;
                let district = this.selectedSchool.district ? this.selectedSchool.district : null;
                let city = this.selectedSchool.city ? this.selectedSchool.city : null;
                let province = this.selectedSchool.province ? this.selectedSchool.province : null;
                let postalCode = this.selectedSchool.postalCode ? this.selectedSchool.postalCode : null;

                addressArray.push(address, administrativeVillage, district, city, province, postalCode);
                addressArray = addressArray.filter(Boolean);

                return addressArray.join(`\n`);
            },
            apply() {
                axios.post(this.schoolIndexUrl, {
                    npsn: this.selectedSchool.npsn,
                    name: this.selectedSchool.name,
                    address: this.selectedSchool.address,
                    postal_code: this.selectedSchool.postalCode,
                    administrative_village: this.selectedSchool.administrativeVillage,
                    district: this.selectedSchool.district,
                    city: this.selectedSchool.city,
                    province: this.selectedSchool.province,
                    educational_level: this.selectedSchool.educationalLevel,
                    email: this.selectedSchool.email,
                    phone: this.selectedSchool.phone,
                    website: this.selectedSchool.website,
                    type: this.selectedSchool.status,
                    admin_name: this.admin.name,
                    admin_email: this.admin.email,
                    admin_phone: this.admin.phone
                })
            }
        }
    }
</script>
