@font-face
    font-family 'montserrat'
    font-style normal
    font-weight $font-weight-light
    src url('/fonts/Montserrat-Light.ttf')
@font-face
    font-family 'montserrat'
    font-style normal
    font-weight $font-weight-regular
    src url('/fonts/Montserrat-Regular.ttf')
@font-face
    font-family 'montserrat'
    font-style normal
    font-weight $font-weight-medium
    src url('/fonts/Montserrat-Medium.ttf')
@font-face
    font-family 'montserrat'
    font-style normal
    font-weight $font-weight-semi-bold
    src url('/fonts/Montserrat-SemiBold.ttf')
@font-face
    font-family 'montserrat'
    font-style normal
    font-weight $font-weight-bold
    src url('/fonts/Montserrat-Bold.ttf')
