.width
    &--350
        width 350px !important
    &--full
        width 100%
.no-margin
    margin 0 !important
.marb
    &--10
        margin-bottom 10px !important
    &--20
        margin-bottom 20px !important
    &--30
        margin-bottom 30px !important
    &--35
        margin-bottom 35px !important
    &--40
        margin-bottom 40px !important
.marr
    &--10
        margin-right 10px
    &--15
        margin-right 15px !important
    &--20
        margin-right 20px
    &--30
        margin-right 30px
.mart
    &--10
        margin-top 10px
    &--30
        margin-top 30px
    &--40
        margin-top 40px
    &--50
        margin-top 50px
.marl
    &--auto
        margin-left auto
    &--5
        margin-left 5px
    &--10
        margin-left 10px
    &--30
        margin-left 30px
.flex
    display flex
    &--center
        justify-content center
        align-items center
    &--right
        justify-content flex-end
    &--acenter
        align-items center
.table-cell
    display table-cell !important
.antiflex
    display block !important
.padt
    &--10
        padding-top 10px
.padb
    &--10
        padding-bottom 10px
.text
    &--center
        text-align center
    &--14
        color $third
        font-size 14px
.no-action
    pointer-events none
.visible
    overflow visible !important
.underlined
    text-decoration underline
.pointer
    cursor pointer
