*
    box-sizing border-box
body
    font-family 'montserrat', sans-serif
    font-size 16px
.text
    &--center
        text-align center
    &--bold
        font-weight $font-weight-semi-bold
    &--red
        color #b30000 !important
        svg
            fill #b30000
            margin-right 3px
    &--green
        color #07a371 !important
        svg
            fill #07a371
            margin-right 3px
h1
h2
h3
h4
h5
h6
    color $third
h1
    font-size 30px
    font-weight $font-weight-medium
h2
    font-size 20px
    font-weight $font-weight-medium
h3
    font-weight $font-weight-semi-bold
h4
    font-size 14px
    font-weight $font-weight-light
h5
    font-size 12px
    font-weight $font-weight-light
h6
    font-size 10px
    font-weight $font-weight-light

[v-cloak]
    display none
