<template>
    <tr>
        <td>
            {{ school.name }}
            <svg class="admin__collapse__arrow" width="14" height="14">
                <use :xlink:href="arrowUrl"></use>
            </svg>
        </td>
        <td>{{ school.requested_at }}</td>
        <td>
            <button class="button" @click.stop="$emit('show-approve-modal', itemIndex)"><span>Terima</span></button>
            <button class="button button--invert" @click.stop="$emit('show-disapprove-modal', itemIndex)"><span>Tolak</span></button>
        </td>
    </tr>
</template>

<script>
    export default {
        data() {
            return {
                arrowUrl: arrowUrl
            }
        },
        props: {
            school: Object,
            itemIndex: Number
        },
        methods: {
            clickedOutside() {
                this.$emit('clicked-outside');
            }
        }
    }
</script>
