<template>
    <modal :width="460" @modal-close="$emit('modal-close')">
        <div class="admin__approve">
            <div class="admin__approve__heading">Kamu akan menolak permintaan</div>
            <div class="admin__school__name">{{ school.name }}</div>
            <div class="admin__confirm__text">Tolak?</div>
            <div class="admin__confirm__buttons">
                <form :action="disapproveUrl + '/' + school.npsn" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" :value="token">
                    <button type="submit" class="button"><span>Tolak</span></button>
                    <button class="button button--invert" @click.prevent="$emit('modal-close')"><span>Tidak</span></button>
                </form>
            </div>
        </div>
    </modal>
</template>

<script>
    export default {
        data() {
            return {
                disapproveUrl: disapproveUrl,
                token: document.head.querySelector('meta[name="csrf-token"]').content
            }
        },
        props: {
            school: {
                type: Object,
                default: null
            }
        }
    }
</script>
