<template>
    <div>
        <table class="table admin__table admin__table--pending">
            <thead>
            <tr>
                <th>Nama Sekolah</th>
                <th>Diajukan pada</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <school-list-item v-for="(school, index) in schools"
                              ref="schoolListItem"
                              :key="school.nisn"
                              :item-index="index"
                              :school="school"
                              :class="{ 'active': activeListItem === index }"
                              @show-approve-modal="setShowApproveModal"
                              @show-disapprove-modal="setShowDisapproveModal"
                              @click.native.stop="changeListItem(index)">
            </school-list-item>
            </tbody>
        </table>
        <transition name="fade">
            <div class="admin__school__detail"
                 v-if="activeListItem !== null"
                 :style="{ marginTop: -62.4 * (schools.length - activeListItem) + 47.5 + 'px' }"
                 v-click-outside="detailClickedOutside"
                 @click.stop>
                <div class="admin__detail__section">
                    <h5>Data Sekolah:</h5>
                    <h6>{{ schools[activeListItem].name }} - {{ schools[activeListItem].npsn }}</h6>
                    <div class="admin__detail__item">
                        <svg width="14" height="14">
                            <use :xlink:href="flagUrl"></use>
                        </svg>
                        <h6>{{ schools[activeListItem].educational_level || '-' }}</h6>
                    </div>
                    <div class="admin__detail__item">
                        <svg width="14" height="14">
                            <use :xlink:href="medalUrl"></use>
                        </svg>
                        <h6>{{ schools[activeListItem].type  || '-' }}</h6>
                    </div>
                    <div class="admin__detail__item admin__detail__item--top">
                        <svg width="14" height="14">
                            <use :xlink:href="locationUrl"></use>
                        </svg>
                        <div>
                            <h6>{{ schools[activeListItem].address }}</h6>
                            <h6>{{ schools[activeListItem].administrative_village }}</h6>
                            <h6>{{ schools[activeListItem].district }}</h6>
                            <h6>{{ schools[activeListItem].city }}</h6>
                            <h6>{{ schools[activeListItem].province }}</h6>
                            <h6>{{ schools[activeListItem].postal_code }}</h6>
                        </div>
                    </div>
                    <div class="admin__detail__item">
                        <svg width="14" height="14">
                            <use :xlink:href="messageUrl"></use>
                        </svg>
                        <h6>{{ schools[activeListItem].email || '-' }}</h6>
                    </div>
                    <div class="admin__detail__item">
                        <svg width="14" height="14">
                            <use :xlink:href="webUrl"></use>
                        </svg>
                        <h6>{{ schools[activeListItem].web || '-' }}</h6>
                    </div>
                    <div class="admin__detail__item">
                        <svg width="14" height="14">
                            <use :xlink:href="phoneUrl"></use>
                        </svg>
                        <h6>{{ schools[activeListItem].phone || '-' }}</h6>
                    </div>
                </div>
                <div class="admin__detail__section">
                    <h5>Data Pengaju:</h5>
                    <div class="admin__detail__item">
                        <svg width="14" height="14">
                            <use :xlink:href="userUrl"></use>
                        </svg>
                        <h6><span class="text--bold">{{ schools[activeListItem].school_admins[0].user[0].name }}</span>
                            ({{ schools[activeListItem].school_admins[0].user[0].email }})</h6>
                    </div>
                    <div class="admin__detail__item">
                        <svg width="14" height="14">
                            <use :xlink:href="phoneUrl"></use>
                        </svg>
                        <h6>{{ schools[activeListItem].school_admins[0].user[0].phone }}</h6>
                    </div>
                </div>
            </div>
        </transition>
        <school-approve-modal :school="schools[modalItemIndex]"
                              @modal-close="showApproveModal = false"
                              v-if="showApproveModal">
        </school-approve-modal>
        <school-disapprove-modal :school="schools[modalItemIndex]"
                                 @modal-close="showDisapproveModal = false"
                                 v-if="showDisapproveModal">
        </school-disapprove-modal>
    </div>
</template>

<script>
    import SchoolListItem from './SchoolListItem.vue'
    import SchoolApproveModal from './SchoolApproveModal.vue'
    import SchoolDisapproveModal from './SchoolDisapproveModal.vue'

    export default {
        components: {
            SchoolListItem,
            SchoolApproveModal,
            SchoolDisapproveModal
        },
        data() {
            return {
                activeListItem: null,
                showApproveModal: false,
                showDisapproveModal: false,
                modalItemIndex: null,
                flagUrl: flagUrl,
                locationUrl: locationUrl,
                messageUrl: messageUrl,
                phoneUrl: phoneUrl,
                userUrl: userUrl,
                medalUrl: medalUrl,
                webUrl: webUrl
            }
        },
        props: {
            schools: Array
        },
        methods: {
            changeListItem(index) {
                this.activeListItem === index
                    ? this.closeActiveItem(index)
                    : this.changeActiveItem(index);
            },
            closeActiveItem() {
                this.activeListItem = null;
            },
            changeActiveItem(index) {
                if (this.activeListItem === null) {
                    this.activeListItem = index
                }
                else {
                    this.activeListItem = null;
                    setTimeout(() => this.activeListItem = index, 150);
                }
            },
            setShowApproveModal(index) {
                this.showApproveModal = true;
                this.modalItemIndex = index;
            },
            setShowDisapproveModal(index) {
                this.showDisapproveModal = true;
                this.modalItemIndex = index;
            },
            detailClickedOutside() {
                if (!this.showApproveModal && !this.showDisapproveModal) {
                    this.closeActiveItem();
                }
            }
        }
    }
</script>
