<template>
    <tr>
        <td>
            {{ school.name }}
            <svg class="admin__collapse__arrow" width="14" height="14">
                <use :xlink:href="arrowUrl"></use>
            </svg>
        </td>
        <td>{{ school.approved_at }}</td>
        <td>{{ school.school_admins.length}} orang</td>
        <td>5 orang</td>
        <td>5 orang</td>
    </tr>
</template>

<script>
    export default {
        data() {
            return {
                arrowUrl: arrowUrl
            }
        },
        props: {
            school: Object,
            itemIndex: Number
        },
        methods: {
            clickedOutside() {
                this.$emit('clicked-outside');
            }
        }
    }
</script>
