.teacher__columns
    display flex
    justify-content space-between
    width 840px
    padding-left 70px
    padding-top 40px
.teacher__column__left
    width 488px
    flex-shrink 0
    margin-right 23px
.teacher__column__right
    width 328px
    flex-shrink 0
    padding-top 160px
.teacher__stats
    display flex
    justify-content space-between
    margin-bottom 35px
.teacher__stats__box
    background rgba(white, .2)
    box-shadow 0 0 29px 0 rgba(black, .1)
    width 150px
    height 125px
    display flex
    align-items center
    justify-content center
    flex-direction column
    color $third
    border-radius 10px
    padding 20px
.teacher__stats__name
    font-size 12px
    font-weight $font-weight-light
    letter-spacing .7px
    text-align center
    margin-bottom 5px
.teacher__stats__amount
    font-size 49.5px
    font-weight $font-weight-semi-bold
    letter-spacing 3px
    text-align center
    margin-bottom -12px
.teacher__dashboard__box
    display flex
    flex-direction column
    box-shadow 0 0 29px 0 rgba(black, .075)
    border-radius 10px
    &--red
        .teacher__dbox__header
            background rgba(#b30000, .3)
            color rgba(white, .6)
.teacher__dbox__header
    background white
    padding 20px 55px
    color $third--60
    font-size 20px
    letter-spacing 1.2px
    border-top-left-radius 10px
    border-top-right-radius 10px
.teacher__dbox__content
    background rgba(white, .15)
    padding 40px 55px
    border-bottom-left-radius 10px
    border-bottom-right-radius 10px
    &--side
        padding 30px 25px
.teacher__dbox__cheader
    font-size 17px
    letter-spacing 1.2px
    color $third
    margin-bottom 15px
.teacher__dbox__schedule
    border-radius 10px
    padding 25px 55px
    color $third
    background rgba(white, .35)
    box-shadow 0 5px 25px 0 rgba(black, 0.1)
    margin-bottom 15px
    &--active
        opacity .7
        color white
        background linear-gradient(299deg, $third, $fourth)
    &:last-child
        margin-bottom 0
.teacher__dbox__sname
    font-size 16px
    font-weight $font-weight-semi-bold
    letter-spacing 1px
    margin-bottom 5px
.teacher__dbox__sshift
    font-size 12px
    letter-spacing .7px
    opacity .6
.teacher__action__button
    cursor pointer
    outline none
    background none
    border none
    svg
        fill $primary--40
.teacher__form
    font-size 11px
    margin-top 25px
    .input
        padding 2.5px 7.5px
.teacher__assignment__table
    th
        &:nth-child(2)
        &:nth-child(3)
            width 170px
        &:nth-child(4)
            width 125px
        &:nth-child(5)
        &:nth-child(6)
        &:nth-child(7)
            width 55px
    td
        &:nth-child(4)
            text-align center
        &:nth-child(6)
            svg
                margin-left 4px
.teacher__asubmission__table
    width 100%
    margin-left 0
    margin-top 30px
    th
        &:last-child
            width 75px
.teacher__assignment__status
    font-size 13px
    margin-top 10px
    text-align center
    &--green
        color #07a371
    &--red
        color #b30000
.teacher__row__danger
    background rgba(#b30000, .3) !important
    td
        color white
.teacher__material__table
    th
        &:first-child
            width 60px
        &:nth-child(4)
        &:nth-child(5)
            width 55px
.teacher__prstd
    display flex
    align-items flex-start
    margin-bottom 20px
    &:last-child
        margin-bottom 0
.teacher__prstd__icon
    width 17px
    flex-shrink 0
    margin-right 15px
.teacher__prstd__desc
    display flex
    flex-direction column
    span
        &:first-child
            font-size 16px
            letter-spacing 1px
            color $primary--60
            margin-bottom 3px
        &:nth-child(2)
            font-size 10px
            font-weight $font-weight-medium
            letter-spacing .8px
            color $third--60
            margin-bottom 3px
        &:last-child
            font-size 12.5px
            color #b30000