.admin__table
    tbody
        tr
            cursor pointer
            &.active
                background rgba(white, .5)
                box-shadow 0 0 29px 0 rgba(black, .1)
                .admin__collapse__arrow
                    transform translateY(-50%) rotate(90deg)
    td
        &:first-child
            padding-right 30px
    &--pending
        th
            &:first-child
                width 350px
            &:nth-child(2)
                width 280px
            &:last-child
                width 245px
    &--list
        th
            &:first-child
                width 300px
            &:nth-child(2)
                width 180px
            &:nth-child(3)
                width 136px
            &:nth-child(4)
                width 124px
            &:last-child
                width 130px
.admin__collapse__arrow
    position absolute
    right 0
    top 50%
    transform translateY(-50%) rotate(-90deg)
    margin-bottom -3px
    fill #565656
    cursor pointer
    transition transform .3s
.admin__school__detail
    position relative
    width 300px
    padding 30px
    background white
    border-radius 10px
    box-shadow 0 8px 35px 0 rgba(black, .35)
    cursor default
    h5
        color #acacac
        margin-top 0
        margin-bottom 15px
        font-weight $font-weight-bold
    h6
        margin-top 0
        margin-bottom 10px
        font-weight $font-weight-bold
.admin__detail__item
    display flex
    align-items center
    margin-bottom 10px
    svg
        fill $third
        margin-right 10px
        flex-shrink 0
    h6
        margin 0
        font-weight $font-weight-medium
    &:last-child
        margin-bottom 0
    &--top
        align-items flex-start
.admin__detail__section
    margin-bottom 30px
    &:last-child
        margin-bottom 0
.admin__approve
    display flex
    flex-direction column
    align-items center
.admin__approve__heading
    font-size 20px
    color $third
    margin-bottom 10px
    text-align center
.admin__school__name
    font-weight $font-weight-semi-bold
    color $third
    text-align center
.admin__confirm__text
    margin 20px 0 15px
    font-size 14px
    color $third
.admin__confirm__buttons
    display flex
    .button
        margin-right 30px
        &:last-child
            margin-right 0
